*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #57e3f7;
  height: 100vh;
  padding: 5vh 5vw;
}

.btns-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 6vw;
  height: 60vh;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #fff;
  border: 0.5vh solid #38b1c2;
  border-left: none;
  border-radius: 0 1vw 1vw 0;
  padding: 0 0.5vw;
}

.btn-page {
  background-color: #fff;
  border: 0.5vh solid #969695;
  border-radius: 1vw;
  font-family: "Palanquin Dark", sans-serif;
  font-size: clamp(16px, 4vh, 64px);
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.btn-page:hover {
  background-color: #b480d3;
}

.btn-answered {
  background-color: #daa4fa;
}

.btn-active {
  background-color: #b480d3;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 90vw;
  height: 90vh;
  border: 0.5vh solid #38b1c2;
  border-radius: 1vw;
}

.image img {
  max-height: 50vh;
}

.task {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  font-family: "Inter var", sans-serif;
  font-size: clamp(16px, 4vh, 64px);
  font-weight: 400;
}

.task-input {
  font-family: "Inter var", sans-serif;
  font-size: clamp(16px, 6vh, 64px);
  font-weight: 400;
  padding: 2vh;
  border: 0.5vh solid #000;
  border-radius: 1vw;
}

.answer-form {
  display: flex;
  gap: 1vw;
}

.submit-task {
  padding: 2vh;
  background-color: #fff;
  border: 0.5vh solid #000;
  border-radius: 1vw;
}

.submit-task:not(:disabled) {
  cursor: pointer;
}

.submit-task:not(:disabled):hover {
  background-color: #31a41c;
}

.tick {
  width: clamp(16px, 6vh, 64px);
  height: clamp(16px, 6vh, 64px);
}

.tick-gray {
  display: block;
}

.tick-green {
  display: none;
}

.submit-task:not(:disabled) .tick-gray {
  display: none;
}

.submit-task:not(:disabled) .tick-green {
  display: block;
}

.restart-btn {
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.restart-btn:hover .cross {
  width: 5vw;
  height: 5vw;
}

.cross {
  width: 4vw;
  height: 4vw;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Inter var", sans-serif;
  font-size: clamp(16px, 4vh, 64px);
  font-weight: 400;
}

.result-table th,
.result-table td {
  border: 0.1vh solid #000;
  padding: 0.3vh;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
}

.result-table tr:first-child th {
  border-top: none;
}

.result-table tr:last-child td {
  border-bottom: none;
}

.result-table tr th:first-child,
.result-table tr td:first-child {
  border-left: none;
}

.result-table tr th:last-child,
.result-table tr td:last-child {
  border-right: none;
}

.vowel {
  color: #ee2f2f;
}

.table-img {
  max-height: 15vh;
}

.result-icon {
  max-height: 5vh;
}
