*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #57e3f7;
  height: 100vh;
  padding: 5vh 5vw;
}

.btns-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 6vw;
  height: 60vh;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #fff;
  border: 0.5vh solid #38b1c2;
  border-left: none;
  border-radius: 0 1vw 1vw 0;
  padding: 0 0.5vw;
}

.btn-page {
  background-color: #fff;
  border: 0.5vh solid #969695;
  border-radius: 1vw;
  font-family: "Palanquin Dark", sans-serif;
  font-size: clamp(16px, 4vh, 64px);
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.btn-answered {
  background-color: #daa4fa;
}

.btn-active {
  background-color: #b480d3;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 90vw;
  height: 90vh;
  border: 0.5vh solid #38b1c2;
  border-radius: 1vw;
}

.image img {
  max-height: 50vh;
}

.task {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  font-family: "Inter var", sans-serif;
  font-size: clamp(16px, 4vh, 64px);
  font-weight: 400;
}

.task-input {
  font-family: "Inter var", sans-serif;
  font-size: clamp(16px, 6vh, 64px);
  font-weight: 400;
  padding: 2vh;
  border: 0.5vh solid #000;
  border-radius: 1vw;
}

.answer-form {
  display: flex;
  gap: 1vw;
}

.submit-task {
  padding: 2vh;
  background-color: #fff;
  border: 0.5vh solid #000;
  border-radius: 1vw;
}

.submit-task:not(:disabled) {
  cursor: pointer;
}

.tick {
  width: clamp(16px, 6vh, 64px);
  height: clamp(16px, 6vh, 64px);
}

.tick-gray {
  display: block;
}

.tick-green {
  display: none;
}

.submit-task:not(:disabled) .tick-gray {
  display: none;
}

.submit-task:not(:disabled) .tick-green {
  display: block;
}

.restart-btn {
  position: absolute;
  right: 1vw;
  bottom: 1vh;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.cross {
  width: 4vw;
  height: 4vw;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Inter var", sans-serif;
  font-size: clamp(16px, 4vh, 64px);
  font-weight: 400;
}

.result-table th,
.result-table td {
  border: 0.1vh solid #000;
  padding: 0.3vh;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
}

.result-table tr:first-child th {
  border-top: none;
}

.result-table tr:last-child td {
  border-bottom: none;
}

.result-table tr th:first-child,
.result-table tr td:first-child {
  border-left: none;
}

.result-table tr th:last-child,
.result-table tr td:last-child {
  border-right: none;
}

.vowel {
  color: #ee2f2f;
}

.table-img {
  max-height: 15vh;
}

.result-icon {
  max-height: 5vh;
}

@media (hover: hover) {
  .btn-page:hover {
    background-color: #b480d3;
  }

  .submit-task:not(:disabled):hover {
    background-color: #31a41c;
  }

  .restart-btn:hover .cross {
    width: 5vw;
    height: 5vw;
  }
}

@media (max-width: 768px) {
  .btns-container {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 10vh;
    top: 0;
    transform: translateY(0);
    border: 0.5vh solid #38b1c2;
  }

  .btn-page {
    width: 15vw;
  }

  .image img {
    max-height: 40vh;
  }

  .task {
    padding: 0 5vw;
  }

  .answer-form {
    width: 100%;
    flex-direction: column;
    gap: 1vh;
  }

  .task-input {
    width: 100%;
  }

  .submit-task {
    display: inline-flex;
    justify-content: center;
  }

  .restart-btn {
    position: fixed;
    right: 2vw;
    top: 11vh;
    bottom: auto;
  }

  .cross {
    width: 10vw;
    height: 10vw;
  }

  .mobile-container {
    height: auto;
  }

  .result-table thead {
    display: none;
  }

  .result-table tbody {
    display: flex;
    flex-direction: column;
    padding: 2vw;
  }

  .result-table tr {
    padding: 3vw;
  }

  .result-table td {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
  }

  .result-table tr td:last-child {
    border-bottom: 0.1vh solid #000;
  }

  .result-table tr td:first-child {
    border-left: 0.1vh solid #000;
  }

  .result-table tr td:last-child {
    border-right: 0.1vh solid #000;
  }
}

@media (max-width: 400px) {
  body {
    padding: 0;
  }

  .container {
    width: 100%;
    height: 100%;
    border: none;
  }

  .mobile-container {
    height: auto;
  }
}
